html
{
    scroll-behavior: smooth;
}
@font-face
{
    src:url(seagle.otf);
    font-family: seagle;
}
#logo
{
    height: 40px;
    width: 40px;
}
.logo
{
    display: flex;
    align-items: center;
}
header
{
    position: sticky;
    top: 0px;
    z-index:1;
}
body
{
    overflow-x: hidden;
}
.accordion-body
{
    display: flex;
    align-items: center;
}
.gallery
{
    width: 35% !important;
    height: 300px;
    transition: 1s;
}
.gallery:hover
{
    transform: scale(0.8);
}
.mb-3
{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.card
{
    width: 100% !important;
    text-align: center;
}
center>h1
{
    font-family: seagle;
    font-weight: bolder;
    margin: 1% 0;
}
.acc_img
{
    height: 300px !important;
    width: 60%;
}
.contact,.font
{
    font-size: 2.5rem;
}
.login_1
{
    display:inherit;
    text-decoration: none;
}
.card-link
{
    text-decoration: none;
}
@media all and (max-width:800px)
{
    .accordion-body
    {
        display: flex;
        flex-direction: column;
    }
}
